.snuspage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;

    .header-title {
        text-align: center;
        background-color: #000;
        width: 100%;
        color: #FFF;
        padding: .2em;
        margin-bottom: 2.5em;
        a {
            color: inherit;
            text-decoration: none;
            &:hover {
                cursor: pointer;
            }
        }
    }

    .snus-content {
        width: 100%;
        min-height: calc(100vh - (175px + 55.8px));
        display: flex;
        flex-direction: column;
        align-items: center;
        .snus-pair {
            text-align: center;
            margin: .5em;
            h1, h2 {
                font-size: 1.5rem;
                margin: 0;
            }
            p {
                font-size: 1.5rem;
                font-weight: 700;
            }
        }
    }
}
